/* 移除默认的边距和填充 */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 设置字体和字体大小 */
body {
  font-family: system-ui, sans-serif;
  font-size: 100%;
  line-height: 1;
}

/* 重置链接样式 */
a {
  color: inherit;
  text-decoration: none;
}

/* 移除列表项的圆点样式 */
ul,
ol {
  list-style: none;
}

/* 移除表格的默认间距 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* 重置块级元素的边距和填充 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* 移除默认的引号样式 */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

/* 设置图片样式 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 确保 `hr` 的样式一致 */
hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* 调整内联元素的文本对齐方式 */
b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}
